.grover-button {
    background-color: #333333;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grover-button,
.grover-button > * {
    cursor: pointer;
}

.grover-button__icon {
    margin-right: 16px;
}

.grover-button--disabled,
.grover-button--disabled > * {
    cursor: not-allowed;
    pointer-events: none;
}
